@{
    ViewBag.Title = "Contact";
}

@*@section CSSFileBodyNeeded
{

    <style>
        


         
    </style>
}*@
<!--Start Help Body-->
<div class="row" style="text-align: center;">
    
    <h2>Details Comming Soon.......</h2>
    <hr />
    <address>
        Microsoft Bangladesh Ltd.<br />
        Gulshan, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        +8801926029000
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:shohagiiuc@outlook.com">shohagiiuc@outlook.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:mdshohagmia14@outlook.com">mdshohagmia14@outlook.com</a>
    </address>
    


</div>



@*@section ScriptsBodyNeeded
{
    <script>



    </script>
}*@
@section scripts
{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
