@model GoContributeMe.Models.ViewModel.ContactUsUserViewModel

@{
    ViewBag.Title = "Home";
}
@section CSSFileBodyNeeded
{


    <link href="~/Content/SearchBar.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <style>
        </style>
}
<div class="row">
    <!--Start Index or Home page Body-->
    <div class="col-md-12 col-sm-12 backgroundImage img-responsive">
        <div class="col-md-12 col-sm-12" style="text-align: center; color: white;">
            <br /><br />
            <h1 style="font-family: Righteous;">
                Many ways to help, one place to start here

            </h1>
            <p>Create a free campaign to start giving and receiving support</p>
            <br />
        </div>
        <div class="col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-10 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9  webdesigntuts-workshop">
            @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { id = " ", @class = "" }))
            {
                @Html.AntiForgeryToken()
                @Html.EditorFor(model => model.Campaign.Tittle, new { htmlAttributes = new { @class = " ", @placeholder = "Search here..." } })
             
                <button class="btn btn-primary">Search</button>
            }

        </div>
        <div class="container hidden-xs hidden-sm hidden-md hidden-lg visible-xl" style="height: 560px; width: 100%">
            @*No code Space balnk*@

        </div>
        <div class="container container hidden-xs hidden-sm hidden-md visible-lg hidden-xl" style="height: 530px; width: 100%">

            @*No code Space balnk*@

        </div>
        <div class="container container hidden-xs hidden-sm visible-md hidden-lg hidden-xl" style="height: 520px; width: 100%">

            @*No code Space balnk*@

        </div>
        <div class="container hidden-xs visible-sm hidden-md hidden-lg hidden-xl" style="height: 520px; width: 100%">

            @*No code Space balnk*@

        </div>
        <div class="container visible-xs hidden-sm hidden-md hidden-lg hidden-xl" style="height: 250px; width: 100%">

            @*No code Space balnk*@

        </div>
        <div class="btn-group btn-group-justified">
            <a href=@Url.Action("FundSomeOne","Contribute") class="btn btn-success">Fund Someone</a>
            <a href=@Url.Action("StartFundRising","Contribute") class="btn btn-primary">Start Fundraising</a>
           
        </div>
    </div>
</div>

@section scripts
{   
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
