
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Thanks To Your Fund Rising Start with Us <br /> Your Fund Rising Apply is also under reviewed...</h2>

